
.product {
    display: inline-block;
    width: 250px;
    height: 400px;
    border: 1px white solid;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    margin-left: -1px;
}

.product img {
    width: 230px;

}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}